@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400&family=Raleway:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #0d0d0d;
    color: #fff;
}
img{
    width: 300px;
    height: 300px;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin: 0px 350px;
}
.card_options{
    transition: 0.4s;
    background-color: none;
}
.button_votar{
    width: 300px;
    height: 60px;
    background-color: #21AFE6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_options h2{
    margin: 0;
    color: white;
}
.card_options:hover{
    scale: 1.1;
}
.card_options p{
    font-size: 25px;
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
}
.card_options h6{
    text-align: left;
    font-size: 15px;
    margin-top: 20px;
    font-weight: light;
}
h1{
    margin-top: 50px;
    margin-bottom: 10px;
    color:#21AFE6;
}
h2{
    margin-bottom: 60px;
}
h3{
    margin-top: 80px;
    font-size: 30px;
    color: #21AFE6;
}
.votacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;;
}
.vote{
    margin-top: 60px;
    margin-bottom: 200px;
}
.vote h5{
    font-size: 25px;
}
.vote h4{
    font-size: 60px;
    margin: 10px 0;
}
.vote span{
    font-size: 25px;
    font-weight: 500;
}